*{
    margin:0px;
    padding:0px;
    font-family:Consolas,monaco,monospace;
    overflow:hidden;
    background-color:transparent;
    color:rgb(212,240,255);

    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable:"on"
    onselectstart:"return false;"
    onmousedown:"return false;">
}

html{
    background-image:url("../Images/Back.jpg");
    background-color:black;
    background-position:center;
    background-attachment:fixed;
}

#fullsite {
    height:100%;
    width:100%;
}

#sidebar {
    position:fixed;
    top:10%;
    height:350px;
    width:300px;
    cursor:default;
}

#sideinfo {
    position:fixed;
    top:60%;
    height:150px;
    width:260px;
    padding:20px;
    float:left;
    text-align:center;
    cursor:default;
}

#main {
    margin-left:auto;
    margin-right:15vh;
    width:800px;
    padding:5px;
    position:relative;
    background-color:rgba(0,0,0,0.7);
    cursor:default;
}

#mainframeLogo {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:250px;
    height:155px;
}

#console {
    width:826px;
    height:100%;
    max-height:96vh;
    overflow-y:auto;
    overflow-x:hidden;
}

#input {
    position:absolute;
    width:790px;
    height:20px;
    padding:5px;
    bottom:0;
}

#text {
    font-size:14px;
    border:none;
    width:700px;
}

#allbuttons {
    width:250px;
    height:230px;
    margin-left:auto;
    margin-right:auto;
}

.buttoncontainer {
    width:125px;
    height:230px;
    float:left;
    margin-left:auto;
    margin-right:auto;
}

.button {
    margin-top:6px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:100px;
    height:20px;
    background-color:lightblue;
    padding-top:2px;
    color:black;
    cursor:default;

    border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
}

.buttonHover {
    background-color:white;
    cursor:pointer;
}


#error {
    background-color:rgba(255, 0, 0, 0.5);
    background-image:url("../images/static.gif");
    background-size:auto;
    width:100%;
    clear:both;
    float:left;
    position:absolute;
    top: 0px;
    left: 0px;
}

.Return{
position:fixed;
bottom:-5px;
left:0;
}
